.custom-link {
    color: #1a73e8; 
    /* text-decoration: underline; */
}

.custom-link + .custom-link {
    margin-left: 5px; /* adjust the space as needed */
}

img.card-img-top {
    margin-bottom: 20px; /* Increased spacing */
    width: 100%;
    max-width: 280px;
    height: auto;
    max-height: 280px;
    object-fit: contain;
}

#Banner {
	/* background-image: url('../assets/img/background3.jpg');  */
  	background-color: #1a73e8; 
 	/*height: 15vh;  */
  	/*background-position: 50% 65%; */
  	/*background-position: 50% 37%; */
  	background-position: 50% 40%;
  	background-repeat: no-repeat; 
  	background-size: 100%, 100%; 
  	color: #ffffff;
}

a {
	color: #1a73e8;
}

a:hover {
    color: #1a73e8;
}