.custom-link {
    color: #4dabf7; 
    /* text-decoration: underline; */
}

.custom-link + .custom-link {
    margin-left: 5px; /* adjust the space as needed */
}

img.card-img-top {
    margin-bottom: 10px; /* Adjust the value as needed */
	width: 285px;
	height: 285px;
	/* height: 280px; */
  }

#Banner {
	/* background-image: url('../assets/img/background3.jpg');  */
  	background-color: #4dabf7; 
 	/*height: 15vh;  */
  	/*background-position: 50% 65%; */
  	/*background-position: 50% 37%; */
  	background-position: 50% 40%;
  	background-repeat: no-repeat; 
  	background-size: 100%, 100%; 
  	color: #ffffff;
}

a {
	color: #4dabf7;
  }

a:hover {
    color: #4dabf7;
}