.custom-link {
    color: #2b8be3; 
    /* text-decoration: underline; */
}

.custom-link + .custom-link {
    margin-left: 5px; /* adjust the space as needed */
}

img.card-img-top {
    margin-bottom: 10px; /* More spacing below the image */
    width: auto; /* Take full width of parent container */
    height: 280px;; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure it doesn't overflow */
}

#Banner {
	/* background-image: url('../assets/img/background3.jpg');  */
  	background-color: #2b8be3; 
 	/*height: 15vh;  */
  	/*background-position: 50% 65%; */
  	/*background-position: 50% 37%; */
  	background-position: 50% 40%;
  	background-repeat: no-repeat; 
  	background-size: 100%, 100%; 
  	color: #ffffff;
}

a {
	color: #2b8be3;
}

a:hover {
    color: #2b8be3;
}